doctype html
html
  head
    title Maximum
    link(rel='stylesheet' type='text/css' href='/styles/style.css')

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      p ☼
      .navbar-nav.grid
        a.navbar-brand(href='/')
          img(src="../../images/resources/logo.png" alt="Maximum")
        a.nav-item.nav-link(href='/stories')
          img(src="../../images/resources/stories.png" alt="Stories")
        a.nav-item.nav-link#profile(href='/profile')
          img(src="../../images/resources/profile.png" alt="Profile")
        a.nav-item.nav-link#logout(href='/log-in')
          img(src="../../images/resources/logout.png" alt="Logout")
    script(src="../../scripts/log-out.js" type="module")
    block content
