extends layout.pug
//- link(rel="stylesheet" href="./styles/comments.css")

block content
    h2 Comments

    .errors-container
    div
        form(action=`/stories/${id}/comments` method="POST")
            div
                label(for="body") What do you have to say?
            div
                textarea(name="body" id="body", cols="30", rows="2")
            button.btn.btn-primary(type="submit" id="submit") Submit
    div(class="comments-container")
    script(type="module" src="/scripts/comments.js")
