head
  link(rel='stylesheet' type='text/css' href='/styles/footer.css')
.social-nav
  ul.social-link
    a.footer-social(href="https://github.com/AaronTheBruce")
      img.aaron(src="../images/resources/Aaron.jpg" alt="Aaron")
    a.footer-social(href="https://github.com/arsentieva")
      img.anna(src="../images/resources/Anna.jpg" alt="Anna")
    a.footer-social(href="https://github.com/lukenicholson")
      img.luke(src="../images/resources/Luke.png" alt="Luke")
