extends layout.pug
//- link(rel="stylesheet" href="/styles/stories.css")

block content
  div(class="index-container")
    h2 Maximum Stories

    .errors-container
    div(class="stories-container")

    script(type="module" src="../scripts/index.js")
