doctype html
html
  head
    title Maximum
    link(rel='stylesheet' type='text/css' href='/styles/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      p ☼
      .navbar-nav.grid
        a.navbar-brand(href='/') Maximum
        a.nav-item.nav-link(href='/stories') My Stories
        a.nav-item.nav-link#profile(href='/profile') Profile
    block content
