extends layout.pug

block content
  head
    link(rel="stylesheet" href="../styles/log-in.css")
  div(class="log-in-container")
    div(class="errors-container")
    h2 Log In
    form(class="log-in-form")
      include includes/auth-form-fields
      button.btn.btn-primary(type='submit') Log In
      button.btn.btn-alternate(id='demo') Demo User
  a(href='/sign-up') Don't have an account? Sign up here.
  script(src="../scripts/log-in.js" type="module")
