extends layout.pug

block content
  head
    //- link(rel="stylesheet" href="../styles/new-story.css")
  div(class="new-story_container")
  button.btn.btn-primary#publish(type='submit') Publish

  script(type="module" src="../scripts/new-story.js")
