extends layout.pug

block content
  head
    link(rel="stylesheet" href="../styles/profile.css")
  div(class="profile-container")
    h2 User Profile
    button.btn.btn-primary#new-story(type='submit') New Story
    div(class="user-container")


      //- div(class="user_stories_container")
    script(type="module" src="../scripts/profile.js")
