extends layout.pug

block content
  head
    link(rel="stylesheet" href="../styles/profile.css")
  div(class="profile-container")
    h2 User Profile
    button.btn.btn-primary#new-story(type='submit') New Story
    div(class="user-container")

    h2 My Stories
    div(class="stories-container" style="margin-left: 0")
    script(type="module" src="../scripts/profile.js")
