extends layout.pug

block content
  head
    link(rel="stylesheet" href="../styles/profile.css")
  div(class="profile_container")
    h2 User Profile
      button.btn.btn-primary#new-story(type='submit') New Story
      div(class="user_container")

      button.btn.btn-primary#edit-profile(type='submit') Edit Profile
      button.btn.btn-primary#save-profile(type='submit') Save
    script(type="module" src="../scripts/profile.js")
