.social-nav{
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
}

.footer-social {
  display: inline-block;
  padding: 16px 5px;
  text-align: center;
}

.footer-social img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 16px;
}
