.new-story_container {
  max-width: 1200px;
  display: flex;
  position: fixed;
  justify-content: center;
  margin: 30px;
}

button {
  height: fit-content;
  margin: 0px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
  color: #006a4e;
  border: #006a4e solid 1px;
  border-radius: 5px;
  font-size: 1em;
  margin-left: 30px;
}

.new_story-body {
  max-width: 600px;
  border: #696969 solid 1px;
  border-radius: 5px;
  padding: 10px 10px 10px;
}

.new_story-title {
  max-width: 600px;
  border: #696969 solid 1px;
  border-radius: 5px;
  padding: 10px 10px 10px;
}

.new_story-byline {
  max-width: 600px;
  border: #696969 solid 1px;
  border-radius: 5px;
  padding: 10px 10px 10px;
}
