.profile_container {
  padding: 20px 25% 0px;
  display: flex;
  justify-content: center;
  width: 600px;
}

.user-name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  font-weight: 500;
  margin: 20px 0px 20px;
}

button {
  height: fit-content;
  margin: 0px 0.5em 0px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
  color: #006a4e;
  border: #006a4e solid 1px;
  border-radius: 5px;
  font-size: 20px;
}
