/* .story-container {
  display: flex;
  justify-content: center;
}

.story-container .story-title {
  font-size: 4em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.story-container .story-image {
  max-width: 800px;
  height: auto;
} */

.story-container {
  padding: 20px 25% 0px;
  display: flex;
  justify-content: center;
  max-width: 601px;
}

.story-container .story-page-title {
  font-size: 2.5em;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px 0px 0px;
}

.story-container .story-page-image img {
  max-width: 600px;
  height: auto;
}

body {
  justify-content: center;
  align-items: center;
}

.author-card {

}

.story-page-byline {
  color: #696969;
  font-weight: 400;
  margin: 15px 0px 25px;
}

.author-container {
  width: fit-content;
  display: flex;
  margin-bottom: 30px;
}

.follow-button {
  height: fit-content;
  margin: 0px 0.5em 0px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
  color: #006a4e;
  border: #006a4e solid 1px;
  border-radius: 5px;
  outline:none;
}

.follow-button-unfollow {
  color: gainsboro;
  background-color: #006a4e;
  border: gainsboro solid 1px;
}

.claps-image {
  width: 60px;
  height: 60px;
  border: #696969 solid 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claps {
  /* border-top: gainsboro solid 1px; */
  /* border-bottom: gainsboro solid 1px; */
  /* padding: 1em 0px 1em;
  margin: 1em 0px 1em; */
  display: flex;
}

.claps-image-clapped {
  box-shadow: 0 0px 4px 0px  rgba(0, 106, 78, 1);
  background-color: gainsboro;
}

.claps img {
  width: 30px;
  height: auto;
  opacity: 0.6;
}

.claps img:hover {
  opacity: 0.8;
}

.claps p{
  padding-left: 1em;
}

.story-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: gainsboro solid 1px;
  padding: 1em 0px 1em;
  margin: 1em 0px 1em;
}

.comment-button {
  height: fit-content;
  margin: 0px 0.5em 0px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
  color: #696969;
  border: #696969 solid 1px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
}

.story-page-text {
  line-height: 32px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.new-story_container {
  display: grid;
  justify-self: center;
}


