.new-story_container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

button {
  height: fit-content;
  margin: 0px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: white;
  color: #006a4e;
  border: #006a4e solid 1px;
  border-radius: 5px;
  font-size: 1em;
  margin-left: 30px;
}

button.btn.btn-primary {
  margin: 10px 0px;
  width: 100%
}

form {
  width: 800px;
}

h2 {
  display: flex;
  justify-content: center;
}

.new_story-body {
  min-width: 600px;
  border: #696969 solid 1px;
  border-radius: 5px;
  padding: 10px 10px 10px;
}

.new_story-title {
  min-width: 600px;
  border: #696969 solid 1px;
  border-radius: 5px;
  padding: 10px 10px 10px;
}

.new_story-byline {
  min-width: 600px;
  border: #696969 solid 1px;
  border-radius: 5px;
  padding: 10px 10px 10px;
}
